<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/estilo.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="{{STATIC_URL}}img/sistemas.png" alt="">
    </div>
    <h1>Sistema de Facturación</h1>
    <p>Venta de equipos Informaticos <strong>LLevando el futuro a tus manos</strong></p>
    <div class="usuario">{{usuario.username}}</div>
</header>

<nav>
      <ul>
        <li>
            <a href="/factura">FACTURAR</a>
        </li>            
        <li>
            <a href="/clientes">CLIENTES</a>
        </li>
        <li>
            <a href="/productos">PRODUCTOS</a>
        </li>
    </ul>
</nav>
<section class="contenido">
    
        {% block contenido %}
        {% endblock %}
    
</section>
<footer>
    <h3>Shiane Soft S.A.</h3>
    <p>Un Mundo de Oportunidades</p>
</footer>
</body>
</html>